@media (max-width: 1165px){
    .products{
      margin-left: 0;
      &__inner{
        flex-direction: column;
        align-items: center;
      }
      &__aside{
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        text-align: center;
        z-index: 20;
        border-bottom: 2px solid #ddd;
        top: 149px;
        margin-right: 0;
        
      }
      &__added-item{
        max-width: 280px;
        margin: 10px auto;
      }
      
    }
    .products-popular{
      padding-left: 0;
      border-left: none;
      &__filter-btn{
        display: block;
        use.ic2 {
       fill: rgba(34, 34, 34, 0.87);
        
      }
       &:hover use.ic2{
        fill: #000;
      }
    }
    
}
  .system__tabs{
    &-images{
      justify-content: center;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1100px){
  .top-slider{
    &__content{
      max-width: 455px;
    }
  }
  .benefits{
    padding: 150px 0 92px;
    &__item{
      flex-direction: column-reverse;
      align-items: center;
      &:nth-child(even){
      .benefits__content{
        order: 0;
      }
    }
    }
    &__content{
      max-width: 100%;
       text-align: center;
       margin-bottom: 10px;
    }
    &__title{
     padding-top: 0;
    }
  }
  .descr-card{
    flex-direction: column;
    align-items: center;
    &__content{
      max-width: 100%;
      margin-right: 0;
     }
  }
  .system__description {
    margin-bottom: 30px;
  }
  .system__tabs{
    &-buttons{
      flex-direction: column;
      align-items: flex-start;
    }
    &-btn{
      margin-bottom: 20px;
      line-height: 24px;
    }
    &-btn--active{
      &::after{
        bottom: 0;
      }
    }
    .system__tabs-btn+.system__tabs-btn{
      margin-left: 0;
    }
    
  }
  .system__kits{
    &-title{
      margin-bottom: 30px;
    }
    &-inner{
      flex-direction: column;
    }
    &-aside{
      margin-right: 0;
      margin-bottom: 25px;
    }
    &-link{
      margin-bottom: 5px;
    }
    &-content{
      border-left: none;
      border-top: 2px solid #ddd;
      padding-top: 20px;
      margin-top: 0;
    }
  }
  .doing{
    &__title{
      margin-bottom: 25px;
    }
    &__images{
      flex-direction: column;
    }
    &__images-item{
      max-width: 100%;
    }
    &__img{
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .team{
    &__items{
      grid-column-gap: 20px;
      grid-row-gap: 25px;
    }
  }

}


@media (max-width: 1000px) {
  .header-top{
    &__form{
      margin-right: 25px;
    }
    &__phone{
      margin-left: 25px;
    }
    &__banner{
      display: none;
    }
  }
  .top-slider{
    .slick-slide img.top-slider__image-thumb{
      display: none;
    }
  }
  .related-item + .related-item{
    margin-left: 10px;
  }
}

@media (max-width: 950px){
  .products-popular{
    &__bottom{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      margin-right: 10px;
    }
    &__item{
      max-width: 100%;
    }
    .products-popular__item .related-item__images{
      width: 100%;
    }
  }
}

@media (max-width: 911px){
  .header-top{
    &__inner{
      min-height: 180px;
      padding: 20px 0 10px;
    }
   &__form{
     order: 1;
     margin-right: 0;
   }
  }
  .header-bottom{
    &__menu{
      position: absolute;
    padding-top: 460px;
    width: 100%;
    left: 0;
    transform: translateX(-400%);
    transition: all .8s;
    z-index: 40;
    &--active{
      transform: translateX(0);
    }
    }

    &__list{
      flex-direction: column;
      align-items: center;
      background: #025c94;
      
      padding: 20px 10px;
    }
    .header-bottom__list-item+.header-bottom__list-item{
    margin-left: 0;
    }

    &__list-item{
      margin: 10px 0;
    }

    &__burger{
      border: none;
      background-color: transparent;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 30px;
      position: relative;
      z-index: 45;
      cursor: pointer;
      transition: all .8s;
      
      
      span{
        width: 100%;
        height: 3px;
        background-color: #fff;
      } 
      &::after,
      &::before{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
         transition: all .4s;
      }
       &::before{
          top: 0;
          
        }
        &::after{
          bottom: 0;
          
        }
        &--active{
         
        span{
          display: none;
        }
        &::before{
          top: 13px;
          transform: rotateZ(-45deg);
        }
        &::after{
          bottom: 13px;
          transform: rotateZ(45deg);
        }
      }
      }
  }
  .footer-top{
    &__inner{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__resourse{
      text-align: center;
      &-item{
        margin-bottom: 0;
      }
    }
    &__price{
      order: 1;
    }
    &__general-list,
    &__wirehouse-list,
    &__resourse-list,
    &__price-text1  {
      display: none;
    }
    &__title{
      display: inline-block;
      pointer-events: auto;
      padding-right: 25px;
      cursor: pointer;
      position: relative;
      &::after{
        content: '';
        background: url('../images/icon/arrows-title.svg') 0 0 no-repeat;
        position: absolute;
        top: 4px;
        right: 0;
        width: 20px;
        height: 20px;
        transition: all .5s;
      }
     
    
    }
    .footer-top__title.active{
      position: relative;
      &::after{
          transform: rotateX(180deg);
      }
      }
  }
  .system{
    padding: 50px 0 50px;
  }
  .system__description{
    &__title{
      margin-bottom: 15px;
    }
    &-img{
      margin-bottom: 15px;
      height: 250px;
    }
    &__subtitle{
      margin-bottom: 5px;
    }
  }

  .system__kits{
    &-items--active{
      flex-direction: column;
    }
    &-item{
      max-width: 100%;
      margin-bottom: 40px;
      height: 405px;
      margin-left: 0;
    }
    &-images{
      width: 100%;
      margin-bottom: 10px;
    }
    &-text{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 800px) {
  .top-slider{
    &__content{
      max-width: 365px;
    }
    &__title{
      font-size: 42px;
      line-height: 57px;
    }
    .slick-dots{
      justify-content: flex-end;
      height: 16px;
    }
  }
  .benefits{
    &__title{
      font-size: 30px;
      line-height: 40px;
    }
  }
  .descr-card{
    &__title{
    font-size: 30px;
    line-height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    &__form,
    &__btn{
      margin-bottom: 15px;
    }
  }
   .descr-description{
     &__content{
       padding: 22px 0 25px;
     }
    }
     .related{
       &__title{
         margin-bottom: 15px;
       }
       &__box{
         flex-direction: column;
       }
       &-item{
         max-width: 100%;
         min-height: 400px;
         margin-bottom: 20px;
       }
       &-item__images{
         margin-bottom: 15px;
       }
       &-item__text{
         max-width: 100%;
         margin-bottom: 10px;
       }
       .related-item+.related-item {
          margin-left: 0;
        }
  }
  .about{
    padding: 60px 0 50px;
  }
  .team{
    &__items{
      grid-template-columns: repeat(3, 1fr);
    }
  }

}

  
 @media (max-width: 700px){
   .footer-bottom{
     padding: 15px 0;
     &__inner{
       flex-direction: column;
     }
     &__copy{
       padding-top: 10px;
       &-text{
         flex-wrap: wrap;
         justify-content: center;
       }
       &-img{
         margin: 0 4px;
       }
     }
   }
   .top-slider{
    .slick-slide img.top-slider__image-big{
      display: none;
    }
  }
  .products{
    padding: 60px 0 60px;
  }
   .products-popular{
     &__btn{
     
       display: none;
     }
   }

   .system__tabs{
     &-img{
      width: 100%;
     }
   }
   
 }   



@media (max-width: 535px){
  .header-top{
    &__inner{
      min-height: 210px;
      justify-content: center;
    }
    &__form{
      margin-left: 0;
      max-width: 280px;
    }
  }
  .products-popular{
    &__bottom{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .team{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 15px;
    }
  }
}

@media (max-width: 425px) {
  .top-slider{
    &__title{
      font-size: 30px;
     line-height: 42px;
    }
  }
  .benefits{
    padding: 80px 0 60px;
   &__items{
     grid-row-gap: 50px;
     margin-bottom: 70px;
   }
   &__title{
     margin-bottom: 10px;
   }
  }
  .descr-card__img{
    width: 400px;
    height: 320px;
  }
  .system__tabs{
     &-img{
      height: 250px;
     }
   }
   .team{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      
    }
    &__img{
      width: 100%;
    }
  }
}

@media (max-width: 360px){
  .products{
    &__aside{
      top: 180px;
    }
  }
}