%fm-500 {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 500;
}

%fm-400 {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 400;
}

%fm-700 {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 700;
}
%fm-600 {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 600;
}

%grn-btn{
   display: inline-block;
   background-color: #00853F;
   max-width: 160px;
   border-radius: 15px;
   padding: 2px 11px;
   @extend %fm-600;
   font-size: 16px;
   line-height: 27px;
   color: #fff;
}

%input{
display: block;
border: none;
padding: 12px 10px;
margin-bottom: 23px;
height: 56px;
border-radius: 4px;
background: #F4F4F4;
&::placeholder{
  @extend %fm-500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(34, 34, 34, 0.4)
}
}

$body-cl: #222222;
$accent-cl: #0065A4;
$gr-btn: #00853F;


@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}