%fm-500 {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 500;
}

%fm-400 {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 400;
}

%fm-700 {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 700;
}
%fm-600 {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 600;
}

$body-cl: #222222;
$accent-cl: #0065A4;
$gr-btn: #00853F;


@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}