@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {

  &__inner {}
}



.header-top {
 
  
  &__inner{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  &__form {
    margin-right: 100px;
    display: flex;
    height: 43px;
    max-width: 340px;
   
  }

  &__input {
    width: 284px;
    padding: 9px 10px 8px 23px;
    @extend %fm-500;
    line-height: 27px;
    font-size: 16px;
    color: rgba(34, 34, 34, 1);
   background: rgba(201, 227, 243, 0.21);
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__search {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 56px;
    background-color: $accent-cl;
    border: none;
    padding: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
  }

  &__search-img {}

  &__phone {
    margin-left: auto;
  }

  &__phone-img {
    
  }

  &__banner {
    background-color: #fff;
    position: absolute;
    width: 174px;
    height: 33px;
    padding: 6px 4px 5px 5px;
     right: 25%;
     top: 70px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.12);
    z-index: 5;
    transition: all .6s;
  }
  &__banner-link{
     display: block;
    @extend %fm-600;
    font-size: 12px;
    line-height: 20px;
    color: $body-cl;
  }

  &__btn {
    display: inline-block;
    width: 173px;
    border-radius: 4px;
    background-color: $gr-btn;
    padding: 8px 43px 9px;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    @extend %fm-600;
    margin-left: 22px;
    
  }
}

.logo {

  &__img {}
}

.header-bottom {
  
  background: #025C94;

  
  &__inner{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  }
  &__menu {
    margin-left: auto;
  }

  &__list {
    display: flex;
  }

  &__list-item {}
  .header-bottom__list-item+.header-bottom__list-item{
    margin-left: 33px;
  }
  &__link {
    color: #fff;
    @extend %fm-600;
    font-size: 12px;
    line-height: 20px;
    &--active{
     border-bottom: 2px solid #DDDDDD;
    }
  }

  &__cart {
    margin-left: 76px;
    margin-right: 8px;
    position: relative;
  }

  &__cart-img {}

  &__span {
    position: absolute;
    top: -8px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @extend %fm-600;
    font-size: 12px;
    line-height: 20px;
  }
}

.top-slider {
  background: url('../images/top-slider/background.svg') 0% 100%/cover no-repeat;
  
  
  &__items {
    padding: 60px 0 46px;
    min-height: calc(100vh - 187px);
  }

  &__item {
   
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 600px;
  }

  &__title {
    padding-top: 25px;
    font-size: 52px;
    line-height: 71.5px;
    @extend %fm-700;
    color: #FFFFFF;
    margin-bottom: 16px;
  }

  &__link-more {
    display: inline-block;
    background-color: $gr-btn;
    border-radius: 15px;
    padding: 2px 25px;
    @extend %fm-600;
    font-size: 16px;
    line-height: 25.5px;
    color: #fff;
    margin-bottom: 26px;
  }

  &__text {
    @extend %fm-400;
    line-height: 28px;
    color:rgba(255, 255, 255, .8);
    margin-bottom: 8px;
  }

  &__link-purchase {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    padding: 17px 25px;
    font-size: 16px;
    line-height: 27px;
    color: $body-cl;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__image-big {
    width: 311px;
    height: 483px;
    object-fit: cover;
  }

  &__image-thumb {
    width: 104px;
    height: 176px;
    object-fit: cover;
    margin-left: 6px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin-left: 8px;
      button{
        width: 9px;
        height: 9px;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
        background: rgba(0, 101, 164, 0.5);
       
       
      }
     &.slick-active{
        button{
         background: #025C94; 
        }
      }
    }
  }
}

.benefits {
  padding: 109px 0 92px;
  &__inner {}

  &__items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 100px;
    margin-bottom: 120px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    &:nth-child(even){
      .benefits__content{
        order: -1;
      }
    }
  }

  &__img {
    width: 561px;
    height: 383px;
    object-fit: cover;
  }

  &__content {
    max-width: 430px;
  }

  &__title {
    padding-top: 56px;
    margin-bottom: 21px;
    @extend %fm-700;
    font-size: 36px;
    line-height: 51px;
    color: $body-cl;
  }

  &__text {
    @extend %fm-400;
    line-height: 29px;
    color: rgba(34, 34, 34, .8);

  }

  &__covid {
    background-color: $accent-cl;
    max-width: 754px;
    min-height: 194px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__covid-inner {
    text-align: center;
    margin-right: 32px;
  }

  &__covid-title {
    @extend %fm-700;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    margin-bottom: 24px;
  }

  &__covid-link {
    display: inline-block;
    background-color: $gr-btn;
    border-radius: 15px;
    padding: 2px 25px;
    @extend %fm-600;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    margin-left: 48px;

  }
}

.descr {
 &__inner {
    padding: 60px 0 78px;
  }
}

.descr-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  &__img{
    width: 485px;
    height: 406px;
    object-fit: cover;
  }

  &__content {
   max-width: 502px;
   margin-right: 59px;
   
  }

  &__title {
    margin-top: 21px;
    margin-bottom: 20px;
    @extend %fm-700;
    font-size: 40px;
    line-height: 56px;
  }

  &__form {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  &__span {
    @extend %fm-600;
    line-height: 27px;
    margin-right: 86px;
  }

  &__input {}

  &__btn {
    display: inline-block;
    background: linear-gradient(91.21deg, #0065A4 -1.98%, #0065A4 36.4%, #0AA2EE 103.86%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    padding: 17px 36px;
    color: #fff;
    @extend %fm-600;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 33px;
  }

  &__category-title {
    @extend %fm-600;
    line-height: 27px;
    font-size: 16px;
    margin-bottom: -6px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 407px;
  }

  &__list-item {
    margin-right: 5px;
  }

  &__link {
    color: $accent-cl;
    @extend %fm-600;
    font-size: 16px;
    line-height: 27px;
    
  }
}

.jq-number__field {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transform: translateY(1px);
}

.jq-number__field input {
  text-align: center;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 33px;
  @extend %fm-600;
  text-transform: uppercase;
  color: $body-cl;
}

.jq-number {
  padding: 0;
  position: relative;

}

.jq-number__spin {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 2px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.jq-number__spin.minus {
 
  left: -66px;

}

.jq-number__spin.plus {
  
  right: -66px;

}

.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 23px;
  right: 18px;
  width: 14px;
  height: 3px;
  background-color: #333333;
}

.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 23px;
  width: 3px;
  height: 14px;
  background-color: #333333;
}

.descr-description {
  
 

  &__content {
    padding: 22px 0 64px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
  }

  &__list {
    margin-bottom: 40px;
  }

 

  &__position {
    @extend %fm-600;
  }

  &__value {
    text-transform: uppercase;
  }

  &__value-link {
    @extend %fm-600;
    font-size: 16px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #0065A4;
  }

  &__content-title {
    @extend %fm-600;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 24px;
  }

  &__text {}
}

.related {
  padding-top: 33px;
  &__title {
    margin-bottom: 32px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }
}

.related-item {
  
  max-width: 304px;
  width: 100%;
  min-height: 523px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 358px;
    max-width: 100%;
  }

  &__image {
    width: 244px;
    height: 266px;
    object-fit: cover;
  }

  &__text {
    line-height: 29px;
    max-width: 271px;
    text-align: center;
    align-self: center;
  }

  &__link {
    @extend %grn-btn;
    margin: 0 auto;
  }
}

.products {
  padding: 92px 0 162px;
  margin-left: 35px;
  &__inner {
    display: flex;
  }

  &__aside {
    
    margin-right: 25px;
  }
  .aside-title{
    @extend %fm-600;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 12px;
  }
  &__added-inner {
    border-top: 2px solid #DDDDDD;
    padding-top: 28px;
  }

  &__added-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__added-img {
    width: 98px;
    height: 83px;
    object-fit: cover;
  }

  &__added-content {}

  &__added-text {
    padding-top: 1px;
    @extend %fm-500;
    font-size: 12px;
    line-height: 22px;
  }

  &__added-btn {
    @extend %grn-btn;
    font-size: 9px;
    line-height: 18px;
    padding: 3px 8px;
  }
}

.products-category {

  &__title {}

  &__list {
    border-top: 2px solid #DDDDDD;
    padding-top: 12px;
    margin-bottom: 62px;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    @extend %fm-500;
    font-size: 16px;
    line-height: 27px;
    color: $accent-cl;
  }
}

.products-added {

  &__title {}
}

.products-popular {
  padding-left: 34px;
  border-left: 2px solid #DDDDDD;
  margin-top: -9px;
  width: 100%;
  &__title {
    margin-bottom: 30px;
  }

  &__top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__top-box {
    display: flex;
    @extend %fm-600;
    line-height: 27px;
  }

  &__number {
    margin-right: 20px;
  }

  

  &__number-text {}

  &__buttons {
    display: flex;
  }

  &__btn-grid {
    margin-right: 11px;
    
  }

  &__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    transition: all 0.3s;
    cursor: pointer;
    
  }
   .icon{
     width: 28px;
     height: 25px;
     
   }

      use.ic1 {
      fill: #b9b7b7
      }
   .products-popular__btn--active{
      use.ic1{
     fill: #000;
   }
   }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33px;
    &--nogrid{
      display: block;
    }
  }

  &__item {
    
    .related-item__images{
      width: 254px;
      min-height: 299px;
      margin-bottom: 20px;
    }
    .related-item__image{
      width: 204px;
      height: 222px;
    }
    .related-item__text{
      margin-bottom: 2px;
    }
     .related-item__list{
       display: none;
     }
     &--list{
       max-width: 100%;
       min-height: 300px;
       .related-item__images,
       .related-item__link,
       .related-item__text{
         display: none;
       }
       .related-item__list {
         display: flex;
         justify-content: space-between;
         &-content{
           margin-left: 30px;
           display: flex;
           justify-content: space-between;
           flex-direction: column;
          align-items: center;
          text-align: center;
          max-width: 400px;
         }
      }
     }
     .related-item__images-list {
        width: 304px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
       
     }
    .related-item__image-list{
      max-width: 244px;
      height: 266px;
      object-fit: cover;
    }
    .related-item__text-list{
      line-height: 29px;
      padding-top: 50px;
      margin-bottom: auto;
    }
     .related-item__link-list{
       @extend %grn-btn;
       margin-bottom: 50px;
     }

  }

}
.related-item.products-popular__item{
      max-width: 254px;
      min-height: 437px;
}



.system {
  padding: 92px 0 90px;

    &__description {
      margin-bottom: 16px;
		}

		&__description-title {
      margin-bottom: 27px;
		}

		&__description-img {
      object-fit: cover;
      margin-bottom: 37px;
		}

		&__description-subtitle {
      margin-bottom: 20px;
      @extend %fm-600;
      font-size: 20px;
      line-height: 33px;
		}


		&__description-text {
		}

		&__tabs {
      
		}

		&__tabs-buttons {
      min-height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      margin-bottom: 33px;
		}

    .system__tabs-btn+.system__tabs-btn{
      margin-left: 15px;
    }
		&__tabs-btn {
      @extend %fm-600;
      font-size: 18px;
      line-height: 30px;
      color: #848484;
      &--active{
        color: $body-cl;
       
        position: relative;
        &::after{
          content: '';
          background: $accent-cl;
          position: absolute;
          bottom: -13px;
          left: 0;
          width: 100%;
          height: 2px;
        }
      }
		}

		&__tabs-content {
      margin-bottom: 52px;
		}

		&__tabs-item {
      display: none;
		}

		&__tabs-item--active {
      display: block;
		}

		&__tabs-images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 35px;
		}

		&__tabs-img {
      width: 550px;
      height: 376px;
      object-fit: cover;
      border-radius: 4px;
		}

		&__tabs-link {
      margin-bottom: 20px;
      @extend %fm-700;
      font-size: 16px;
      line-height: 32px;
      color: $accent-cl;
      text-decoration: underline;
		}

		&__kits {
		}

		&__kits-title {
      margin-bottom: 43px;
		}

		&__kits-inner {
      display: flex;
		}

		&__kits-aside {
      width: 265px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
		}

		&__kits-link {
      margin-bottom: 35px;
      @extend %fm-500;
      font-size: 16px;
      line-height: -27px;
      color: $accent-cl;
		}

		&__kits-link--active {
      @extend %fm-700;
		}

		&__kits-content {
      border-left: 2px solid #DDDDDD;
      margin-top: -10px;
		}

		&__kits-items {
      display: none;
		}

		&__kits-items--active {
      display: flex;
      justify-content: space-between;
     
		}

		&__kits-item {
       display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      max-width: 254px;
      height: 412px;
      margin-left: 36px;
    }

		&__kits-images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 254px;
      height: 299px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

		}

		&__kits-img {
      width: 203px;
      height: 222px;
      object-fit: contain;
		}

		&__kits-text {
      text-align: center;
      line-height: 29px;
      width: 226px;
		}

		&__kits-btn {
      @extend %grn-btn;
      font-size: 13px;
      line-height: 21px;
      margin-top: auto;
		}
}

.about {
  padding: 92px 0 80px;
}

.doing {
    padding-bottom: 25px;
		&__title {
      margin-bottom: 51px;
		}

		&__images {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
		}
    &__images-item{
      
      max-width: 326px;
      text-align: center;
    }

		&__img {
      width: 326px;
      height: 302px;
      object-fit: cover;
      border-radius: 4px;
      margin-bottom: 21px;
		}

    &__images-text{
      @extend %fm-600;
      font-size: 18px;
      margin-bottom: 27px;
    }

		&__text {
      margin-bottom: 32px;
		}
}

.team {

		&__title {
      margin-bottom: 42px;
		}

		&__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 52px;
      padding: 0 15px;
		}

		&__item {
      line-height: 25px;
       font-size: 14px;
       text-align: center;
		}

		&__img {
      width: 248px;
      height: 248px;
      object-fit: cover;
      margin-bottom: 20px;
		}

		&__name {
     
    }

		&__position {
      @extend %fm-700;
		}
}

.contact {
  padding: 110px 0 70px;
		&__list {
		}

		&__item {
      margin-bottom: -8px;
		}

		&__link {
      @extend %fm-500;
      font-size: 16px;
      line-height: 24px;
      color: $body-cl;
		}

		&__bottom {
		}

		&__title {
      margin-bottom: 43px;
		}

	
		&__input-box {
      display: flex;
      justify-content: space-between;
		}

		&__input {
      max-width: 555px;
      width: 100%;
      @extend %input;

		}

		&__input-phone {
      @extend %input;
      width: 100%;
		}

		&__textarea {
      @extend %input;
      min-height: 254px;
       width: 100%;
       resize: none;
		}
    &__btn{
      display: block;
      width: 180px;
      height: 42px;
      border-radius: 3px;
      border: none;
      padding: 6px 6px;
      background: linear-gradient(91.21deg, #0065A4 -1.98%, #0065A4 36.4%, #0AA2EE 103.86%);
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
      @extend %fm-600;
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      margin: 0 auto;
      cursor: pointer;
    }
}

.map {
  margin-bottom: 74px;
}
#map{
  width: 1136px;
  height: 296px;
  margin-bottom: 11px;
}



.footer-top {
  background-color: #303030;
  padding: 43px 0 17px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__contact {}

  &__general {}

  &__general-title {}

  &__title {
    @extend %fm-500;
    line-height: 30px;
    color: #fff;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__general-list {
    margin-bottom: 21px;
    
  }

  &__general-item {
   
  }

  &__general-link {
     @extend %f-link;
 }

  &__wirehouse {}

  &__wirehouse-title {}

  &__wirehouse-list {}

  &__wirehouse-item {}

  &__wirehouse-link {
     @extend %f-link;
    
  }

  &__price {}

  &__price-title {}

  &__price-text {
     @extend %f-link;
     line-height: 24px;
    margin-bottom: 23px;
    max-width: 420px;
    margin-top: -12px;
  }

  &__resourse {
    text-align: right;
  }

  &__resourse-title {
    margin-bottom: 11px;
    
  }

  &__resourse-list {}

  &__resourse-item {
    margin-bottom: 10px;

  }

  &__resourse-link {
     @extend %f-link;
  }
}

.footer-bottom {
  padding: 29px 0 28px;
  background: #1A1A1A;
  
  &__inner{
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  &__copy {
    color: #fff;
    line-height: 30px;

  }

  &__copy-text {
    display: flex;
  }

  &__copy-item {}

  &__copy-img {
    margin: 0 10px;
  }
}

.logo-footer {}

.logo {

  &__footer-img {}
}



@import 'media';