@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {

  &__inner {}
}



.header-top {
 
  
  &__inner{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  &__form {
    margin-right: 100px;
    display: flex;
    height: 43px;
    max-width: 340px;
   
  }

  &__input {
    width: 284px;
    padding: 9px 10px 8px 23px;
    @extend %fm-500;
    line-height: 27px;
    font-size: 16px;
    color: rgba(34, 34, 34, 1);
   background: rgba(201, 227, 243, 0.21);
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__search {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 56px;
    background-color: $accent-cl;
    border: none;
    padding: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
  }

  &__search-img {}

  &__phone {
    margin-left: auto;
    &:hover .header-top__banner{
     
    }
    
  }

  &__phone-img {
    
  }

  &__banner {
    display: inline-block;
    
    position: absolute;
    width: 174px;
    height: 33px;
    padding: 6px 4px 5px 5px;
     right: 25%;
     top: 75px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.12);
    @extend %fm-600;
    font-size: 12px;
    line-height: 20px;
    color: $body-cl;
  }

  &__btn {
    display: inline-block;
    width: 173px;
    border-radius: 4px;
    background-color: $gr-btn;
    padding: 8px 43px 9px;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    @extend %fm-600;
    margin-left: 22px;
    
  }
}

.logo {

  &__img {}
}

.header-bottom {
  
  background: #025C94;

  
  &__inner{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  }
  &__menu {
    margin-left: auto;
  }

  &__list {
    display: flex;
  }

  &__list-item {}
  .header-bottom__list-item+.header-bottom__list-item{
    margin-left: 33px;
  }
  &__link {
    color: #fff;
    @extend %fm-600;
    font-size: 12px;
    line-height: 20px;
  }

  &__cart {
    margin-left: 76px;
    margin-right: 8px;
    position: relative;
  }

  &__cart-img {}

  &__span {
    position: absolute;
    top: -7px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @extend %fm-600;
    font-size: 12px;
    line-height: 20px;
  }
}

.top-slider {
  background: url('../images/top-slider/background.svg') 50% 50%/cover no-repeat;
  
  
  &__items {
    padding: 60px 0 46px;
    min-height: calc(100vh - 187px);
  }

  &__item {
   
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 600px;
  }

  &__title {
    padding-top: 25px;
    font-size: 52px;
    line-height: 70px;
    @extend %fm-700;
    color: #FFFFFF;
    margin-bottom: 24px;
  }

  &__link-more {
    display: inline-block;
    background-color: $gr-btn;
    border-radius: 15px;
    padding: 2px 25px;
    @extend %fm-600;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 25px;
  }

  &__text {
    @extend %fm-400;
    line-height: 28px;
    color:rgba(255, 255, 255, .8);
    margin-bottom: 20px;
  }

  &__link-purchase {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    padding: 17px 25px;
    font-size: 16px;
    line-height: 27px;
    color: $body-cl;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__image-big {
    width: 311px;
    height: 483px;
    object-fit: cover;
  }

  &__image-thumb {
    width: 104px;
    height: 176px;
    object-fit: cover;
    margin-left: 6px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin-left: 3px;
      button{
        width: 9px;
        height: 9px;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
        background: rgba(0, 101, 164, 0.5);
       
       
      }
     &.slick-active{
        button{
         background: #025C94; 
        }
      }
    }
  }
}


.footer {}

.footer-top {
  background-color: #303030;
  padding: 43px 0 29px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__contact {}

  &__general {}

  &__general-title {}

  &__title {
    @extend %fm-500;
    line-height: 30px;
    color: #fff;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__general-list {
    margin-bottom: 25px;
    
  }

  &__general-item {
    margin-bottom: 5px;
  }

  &__general-link {
     @extend %fm-500;
     line-height: 24px;
     color:rgba(255, 255, 255, 0.6);
     
  }

  &__wirehouse {}

  &__wirehouse-title {}

  &__wirehouse-list {}

  &__wirehouse-item {}

  &__wirehouse-link {
    @extend %fm-500;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
  }

  &__price {}

  &__price-title {}

  &__price-text {
    @extend %fm-500;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.6);
    margin-bottom: 11px;
    max-width: 420px;
  }

  &__resourse {
    text-align: right;
  }

  &__resourse-title {
    margin-bottom: 11px;
    
  }

  &__resourse-list {}

  &__resourse-item {
    margin-bottom: 15px;

  }

  &__resourse-link {
    @extend %fm-500;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.6);
  }
}

.footer-bottom {
  padding: 29px 0 28px;
  background: #1A1A1A;
  
  &__inner{
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  &__copy {
    color: #fff;
    line-height: 30px;

  }

  &__copy-text {
    display: flex;
  }

  &__copy-item {}

  &__copy-img {
    margin: 0 10px;
  }
}

.logo-footer {}

.logo {

  &__footer-img {}
}



@import 'media';